
            @keyframes slideOutToLeft{
                0%{
                    transform: translate(0,0);
                }
                99%{
                    display:none;
                    transform: translate(-200%,0);
                }
                100%{
                    transform: translate(-200%,0);
                    display: none;
                }
            }
            @keyframes slideOutToRight{
                0%{
                    transform: translate(0,0);
                }
                99%{
                    transform: translate(200%,0);
                    
                }
                100%{
                    transform: translate(200%,0);
                  
                }
            }
            @keyframes slideInFromRight{
                0%{
                    transform: translate(200%,0);
                }
                99%{
                    display:none;
                    transform: translate(0,0);
                }
                100%{
                    transform: translate(0,0);
                    display: block;
                }
            }
            @keyframes slideInFromLeft{
                0%{
                    transform: translate(-200%,0);
                }
                99%{
                    display:none;
                    transform: translate(0,0);
                }
                100%{
                    transform: translate(0,0);
                    display: block;
                }
            }
            @keyframes fadeIn{
                0%{
                    opacity:0;
                }
                100%{
                    opacity:1;
                }
            }
            @keyframes fadeOut{
                0%{
                    opacity:1;
                }
                100%{
                    opacity:0;
                }
                
            }

            *{
                margin: 0;
                padding: 0;
            }
            
            body{
                background: black;
            }
            #overlayCanvas{
                width:100%;
                height:100%;
                position:absolute;
                top:0px;
                left:0px;
            }
            ul{
                position: relative;
                display:block;
                font-family: 'Press Start 2P';
                margin:auto;
                margin-top: 7%;
                width:660px;
            }
            li{
                list-style:none;
                font-size: 45pt;
                color:#277650;
                transition: all 1s ;
                
            }
            li:hover{
                color:#DEDFDF;
                text-shadow: 0px 0px #000;
                cursor:pointer;
            }
            
             h1{
                display: inline-block;
                font-family: 'Press Start 2P';
                font-size: 60pt;
                color:#DEDFDF;
                margin:20px;
                text-shadow:0px 0px 5px #000
            }
            h2{
                display:block;
                 font-family: 'Abel', sans-serif;
                 font-size:25pt;
                 margin:24px;
                 margin-left:auto;
                 margin-right:auto;
                 width:fit-content;
            }
            p{
                font-family: 'Abel', sans-serif;
                font-size:18pt;
                width:750px;
                margin-top: 40px;
                margin-left:auto;
                margin-right:auto;
            }
            h2 a{
                text-decoration: none;
                color:#6EA58B;
                padding-bottom:5px;
                border-bottom: 1px solid #6EA58B;
                cursor: pointer;
                transition: all .5s;
            }
            h2 a:hover{
                color:#277650;
                padding-bottom:0px;
                border-bottom: 1px solid #277650;
            }
            footer{
                height: 40px;
                width:100%;
                background:white;
                z-index: 50;
                text-align: center;
            }
            footer p{
                display: inline-block;
                margin:6px 20px 0px 40px;
                width: fit-content;
            }
            #splitter{
                width:100%;
                margin-top: 20%;
                text-align:center;
            }
            #splitter h1{
                font-size:65px;
                margin-bottom:60px;
            }
            #navContainer{
                width:100%;
                margin:0px;
               
            }
            #navContainer li{
                height:5%;
                padding-top:5%;
                margin:0px;;
                font-size:50px;
                text-align:center;
                text-shadow: 0px 0px 5px white;
                background:#0E0E0E;
                border: 1px solid #0E0E0E;
                opacity:0.8;
            }
            #navContainer li:hover{
                animation:none;
                border: 1px solid white;
                opacity:1;
            }
            .unstyledContent{
                width:100%;
                height:100%;
                display:block;
                position:absolute;
                left: 0px;
                top:0px;
            }
            .styledContent{
                width:100%;
                height:fit-content;
                display:block;
                position:relative;
                margin:auto;
                padding-bottom:200px;
                top:0px;
                left:0px;
                opacity: 0.6;
                background:#000;
                box-shadow: 0px 0px 100px #000;
                transition: all 0.5s;
            }
            #main{
                z-index: -100;
                width:100%;
                height:100%;
            }
            #styledNavContainer{
                width:100%;
                text-align: center;
                margin-bottom:40px;
                font-size:20pt;
            }
            #styledNavContainer li{
                display:block;
                font-size:40pt;      
                vertical-align: top;
                
                background:#0E0E0E;
                margin:5px;
                padding:25px;
            }
            #styledNavContainer li:hover{
                animation: none;
            }
            #name{
                transition: all 0.5s ease;
            }
            .currentPage{
                font-size:45pt;
                color: #DEDFDF;
                transition: all 0.5s;  
            }
            .trueContent{
                width:80%;
                height: 50%;
                color:white;
                margin:auto;
                margin-top:40%;
                transition: all 0.5s;
            }
            .trueContent p{
                font-size:30pt;
                width: 600px
            }
            #contentAbout{
                display: none;
                padding-top:120px;
            }
            #contentProject{
                display: none;
                height:1600px;
            }
            #contentOther{
                display: none;
                height:100%;
                padding-top: 200px;
                padding-bottom: 300px;
            }
            #contentOther h2{
                font-size:55pt;
            }
            .projectMiniBox{
                width:650px;
                height:300px;
                text-align: center;
                border:3px solid #6EA58B;
                box-shadow: 0px 0px 4px #6EA58B;
                cursor: pointer;
                margin:auto;
                margin-bottom:20px;
                background:black;
                opacity: 1;
                transition:box-shadow .3s;
            }
            .projectMiniBox img{    
                width:500px;
                height:250px;
            }
            .projectMiniBox:hover{
                box-shadow: 0px 0px 15px 5px #6EA58B;
            }
            .projectMiniBox h3{
                font-family: 'Press Start 2P';
                font-size: 16pt;
                line-height: 18pt;
                padding:5px;
                padding-top:15px;
                text-align: center;
            }
            .projectMiniBox a{
                display:block;
                font-family: 'Press Start 2P';
                font-size: 13pt;
                text-decoration: underline;
                color:#6EA58B;
                padding-bottom:5px;
                cursor: pointer;
                transition: all .1s;
                margin-top:10px;
                
            }
            .projectMiniBox a:hover{
                color:#277650;
            }
            .projectMiniBox p{
            text-align:left;
            margin:auto;
            margin-bottom: 40px;
            margin-top: 20px;
            }
            /*change under 1350px width*/
            #projectMegaBox{
                position: relative;
                margin:auto;
                width:650px;
                height:1350px;
            }
            /*Modal*/
            #modal{
                z-index: -1;
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                opacity:0;
                background:#DEDFDF;
                transition: all .5s;
            }
            #mainModal{
                z-index:10011;
                position:absolute;
                width:700px;
                height:750px;
                box-shadow: 0 0 2px 2px #6EA58B ;
                border:2px solid #DEDFDF;
                transition: all 0.5s;
                left:-28px;
            }
            #mainModal:hover{
            box-shadow: 0px 0px 20px 10px #6EA58B;
            border:2px solid #CCCCCC;
            }
            #mainModal a{
                font-size:26pt;
            }
            #mainModal p{
                font-size: 24pt;
                width:90%
            }
            #mainModal img{
                width: 600px;
                height:300px;
                margin:5px;
            }